#siteName{
    color: pink;
}

#firstChild{
    color:pink;
}

.child {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#george{
    color:blue;
}
#leila{
    color:maroon;
}
#krysty{
    color:green;
}
#myeisha{
    color:yellow;
}
#james{
    color:pink;
}



